<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Admin Dashboard</title>
    <style>
        /* Add your custom CSS styles here */
    </style>
</head>
<body bgcolor="lightgreen">
    <h1 align = "center">Welcome, Admin!</h1>
    <!-- Admin-specific content here -->
    <hr style = "height:30px; background-color: gray;">
    <!-- Button to show the user ID and password table -->
    <center>
    <button onclick="window.location.href='/user_table'">User ID and Password Table</button>
    <button onclick="window.location.href='/add_flights'">Add Flights</button>
    </center>

</body>
</html>
