<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Admin Login</title>
    <style>
        /* Add your custom CSS styles here */
    </style>
</head>
<body bgcolor="lightgreen">
    <h1 align = "center">Admin Login</h1><br>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <form action="/admin/login" method="post" align = "center">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        <br><br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <br><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>
