<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Flights Added</title>
    <style>
        /* Add your custom CSS styles here */
    </style>
</head>
<body bgcolor="lightgreen">
    <h1 align = "center">Flights Added Successfully</h1>
    <p align = "center">The flights have been added successfully.</p>
<hr style="height: 20px;">
<center>
    <button onclick="window.location.href='/'">Go to Homepage</button>
    <button onclick="window.location.href='/add_flights'">Add another flight</button>
</center>
</body>
</html>
