<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Flights Removed</title>
    <style>
        /* Add your custom CSS styles here */
    </style>
</head>
<body bgcolor="lightgreen">
    <h1 align = "center">Flights Removed Successfully</h1>
    <p align = "center">The flights have been removed successfully.</p>
    <center>
    <button onclick="window.location.href='/'">Go to Homepage</button>
    <button onclick="window.location.href='/add_flights'">Add or remove another flight</button>
    </center>
</body>
</html>
