<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Book Flight</title>
    <style>
        /* Add your custom CSS styles here */
    </style>
</head>
<body bgcolor="skyblue">
    <h1 align = "center">Thanks for using our services.</h1>
    <hr style="height: 20px;">
    <p align = "center">
        <button onclick="window.location.href='/'">Go to Homepage</button>
        <button onclick="window.location.href='/book_flights'">Book another flight</button>
        
    </p>
</body>
</html>
